body{
  margin: 0px 24px;
}
.container,.container nav,.logo{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
/*.container{
  margin:0px 24px;
}
*/
/*Header section*/
.logo span{
  font-size: 32px;
  margin: 0px;
}
.logo img{
  padding-right: 4px;
  width:36px;
  height:36px;
}
.bar{
  background-color: aquamarine;
  height:64px;
  width: 16px;
}
